{% extends "layout.njk" %}

{% block head%}
    <title>< E404 /></title>
{% endblock %}

{% block headermenu %}
    <li><a href="/">Home</a></li>
    <li><a href="/about">About us</a></li>
{% endblock %}

{% block content %}
    <section class="notfound">
        <h1 class="company__name">< Page not found /></h1>
        <div class="img-container">
            <img src="https://66.media.tumblr.com/79dd4aef6d71fce505043311c18bf80d/tumblr_nxi6ztBvX81qmh1nco1_1280.gifv" alt="" srcset="">
        </div>
    </section>
{% endblock content %}
