{% extends "layout.njk"%}

{% block head%}
    <title>About Rocketseat</title>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
{% endblock %}

{% block headermenu %}
    <li><a href="/">Home</a></li>
{% endblock %}

{% block content %}
         <section class="info">
            <div class="img-container">
                <img src="{{company.logoUrl}}" alt="Rocketseat">
                <h1 class="company__name">{{company.name}}</h1>
            </div>
            <div class="container">
                <div class="company">
                    <div class="company__description">
                        <h3>{{company.description.title}}</h3>
                        <p>{{company.description.text}}<p>
                    </div>
                    <ul class="company__technologies">
                        {% for tech in company.techs %}
                            <li><span class="material-icons">{{tech.icon}}</span>{{tech.name}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
        <div class="social-links">
            <nav class="contact-menu footer">
                <ul>
                    {% for link in company.links %}
                         <li>
                            <a href="{{link.url}}" target="_blank">
                                {{link.name}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
{% endblock %}
 
        
