{% extends "layout.njk"%}

{% block head%}
    <title>Rocketseat Courses</title>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
{% endblock %}

{% block headermenu %}
    <li><a href="/about">About us</a></li>
{% endblock %}

{% block content %}
    <div class="wrapper">
            <div class="cards">
                {% for course in courses %}
                    <div class="card" id="{{course.name}}">
                        <div class="card__image">
                            <img src="{{course.logoUrl}}" alt="Image logo {{course.name}}">
                        </div>
                        <div class="card__description">
                            <h1 class="card__description--highlight">{{course.name}}</h1>
                            <p>{{course.description}}</p> 
                            
                        </div>
                        <div class="card__info">
                            <p>{{course.modules}} módulos</p>
                            <p class="card__price">{{course.price}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}

{% block modal %}
     <!-- MODAL HTML -->
    <div class="overlay">
        <div class="modal">
           <div class="modal__controls">
            <a class="modal__maximmize"><span class="material-icons">
                fullscreen
                </span></a>
            <a class="modal__close"><span class="material-icons">
                close
                </span></a>
           </div>
            <div class="modal__content">
                    <iframe src=""></iframe>
            </div>
        </div>
    </div>
{% endblock modal %}

{% block scripts %}
    <script src="scripts.js"></script>
{% endblock scripts %}
